{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - All Annotations{% endblock %}

{% block content %}
<h1>All Annotations Alphabetically</h1>
<p>There are {{count}} <span class="annotation tip">Annotations</span> are currently in the {% site "name" %} database. You can also <a href="{% url 'gcse_browse_labels' %}">browse Annotations by label</a>.</p>
{% block alpha-nav %}
<ul class="alpha-nav pagination">
<colgroup>{% for i in index %}<col width="1*" />{%endfor%}</colgroup>
{% for i in index %}
<li class="{{i.style}}"><a href="?q={{i.i}}">{{i.i}}</a></li>
{% endfor%}
</ul>
{% endblock alpha-nav %}
<table class="table table-striped search-results">  
  <tbody>
    <tr><th>Name</th><th>Search Engines</th><th>Labels</th><th>URL</th></tr>
    {% for annotation in annotation_list %}
    <tr class="{% cycle 'odd' 'even' %}">      
      <td><a href="{{annotation.get_absolute_url}}">{{ annotation.comment|escape }}</a></td>      
      <td>
        {% for cse in annotation.cses %}
        <a class="cse-link" href="{{ cse.get_absolute_url }}">{{ cse.title }}</a>
        {% endfor %}
      </td>
      <td>{{annotation.labels_as_links|safe}}</td>      
      <td><a href="{{ annotation.original_url }}">{{annotation.original_url}}</a></td>
    </tr>
    {% endfor %}
  </tbody>  
</table>
{% block pagination %}
<ul class="pager">
  <li class="previous"> {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}</li>
  <li class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
  <li class="next">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock %}
