{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - All Annotations{% endblock %}

{% block content %}
<h1>All Annotations</h1>
<p>There are {{count}} Annotations currently in the {% site "name" %} database.</p>
<p>Browse all <a href="{% url 'gcse_label_list' %}"> Annotations by Label</a>.</p>
<p>Click a letter/number below to filter the Annotations by name.</p>
{% block alpha-nav %}
{% include "gcse/alpha-nav.html" %}
{% endblock alpha-nav %}

<table class="table table-striped search-results">
  <tbody>
    <tr><th>Name</th><th>Search Engines</th><th>Facet Labels</th></tr>
    {% for annotation in annotation_list %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="{{annotation.get_absolute_url}}">{{ annotation.comment|escape }}</a></td>
      <td>
        {% for cse in annotation.cses %}
        <a class="cse-link" href="{{ cse.get_absolute_url }}">{{ cse.title }}</a>
        {% endfor %}
      </td>
      <td>{{annotation.facet_item_labels_as_links|safe}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block pagination %}
{% include "gcse/pagination.html" %}
{% endblock pagination %}

{% endblock %}
