{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - Custom Search Engine: {{ object.title }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>
<p>Created: {{object.created | date}} {{object.created | time}}</p>
<p>Last Modified: {{object.modified | date}} {{object.modified | time}}</p>
<p><a href="{% url 'gcse_cse_annotation_list' gid=object.gid %}">View this Custom Search Engine's {{object.annotation_count}} Annotations</a></p>
<p><a href="{% url 'gcse_cse_label_list' gid=object.gid %}">View this Custom Search Engine's {{object.all_labels|length}} Labels</a></p>
{% endblock %}
