{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - Browse Custom Search Engines{% endblock %}

{% block content %}
<h1>Browse Custom Search Engines</h1>
<p>These <span class="cse tip">Custom Search Engines</span> are currently in the {% site "name" %} search database.</p>
<table class="table table-striped search-results">
  <tbody>
    <tr><th>Title</th><th>Description</th></tr>
    {% for gcse in gcse_list %}
    <tr class="{% cycle 'odd' 'even' %}"><td><a href="{{gcse.get_absolute_url}}">{{ gcse.title|escape }}</a></td><td>{{gcse.description}}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% block pagination %}
{% include "gcse/pagination.html" %}
{% endblock pagination %}
{% endblock %}
