{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - {{ cse.title }} Annotations{% endblock %}

{% block content %}
<h1>{{ cse.title }} Annotations</h1>
<p>There are {{count}} <span class="annotation tip">Annotations</span> for the <a href="{{ cse.get_absolute_url }}">{{ cse.title }}</a> Custom Search Engine (CSE) in the {% site "name" %} search database. You can also browse this CSE's <a href="{% url 'gcse_cse_label_list' cse.gid %}">Annotations by Label</a>.</p>

{% block alpha-nav %}
{% include "gcse/alpha-nav.html" %}
{% endblock alpha-nav %}

{% with cse.facet_item_labels as visible_labels %}
<table class="table table-striped search-results">
  <tbody>
    <tr><th>Name</th><th>Background Labels</th><th>Facet Labels</th></tr>
    {% for annotation in annotation_list %}
    {% with annotation.labels.all as all_labels %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="{% url 'gcse_site.get_absolute_url}}">{{ annotation.comment|escape }}</a></td>
      <td>
        {% for label in annotation.labels.all %}
        {% if label.background %}
        <a href="{% url 'gcse_cse_label_detail' cse.gid label.id %}">{{ label.name }}</a>
        {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for label in annotation.labels.all %}
        {% if label in visible_labels %}
        <a href="{% url 'gcse_cse_label_detail' cse.gid label.id %}">{{ label.name }}</a>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endwith %}

{% block pagination %}
{% include "gcse/pagination.html" %}
{% endblock pagination %}

{% endblock %}
