{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - Custom Search Engine: {{ object.title }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>This Google Custom Search Engine contains {{object.annotation_count}} Annotation entries.</p>
<p><a href="{% url 'gcse_cse_annotation_list' gid=object.gid %}">View this Custom Search Engine's Annotations</a></p>
<h2>Labels</h2>
<table class="table table-striped search-results">
  <tbody>
    <tr><th>Name</th></tr>
    {% for label in object.facetitems_labels %}
    <tr class="{% cycle 'odd' 'even' %}"><td><a href="{{label.get_absolute_url}}">{{ label.name|escape }}</a></td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
