{% load setting %}
<!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/coop/docs/cse/tos.html -->
<form action="{% url 'cse_results' %}" id="cse-search-box" style="padding:0px;margin:0px;">
  <div>
    <input type="hidden" name="cref" value="http://{% site 'domain' %}/{% url 'cse' %}" />
    <input type="hidden" name="cof" value="FORID:9" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="hidden" name="client" value="pub-5717026662794622" />
    <input type="text" name="q" size="31"/>
    <input type="submit" name="sa" value="Search"/>
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
