{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - Label: {{ label.name }}{% endblock %}

{% block content %}
<h1>Label: {{ label.name }}</h1>
<p>{{ label.description }}</p>
<table class="table table-striped search-results">
  <tr><th>Name</th><th>Background</th><th>Mode</th><th>Weight</th></tr>
    <tr>
      <td>{{label.name}}</td>
      <td>{{label.background}}</td>
      <td>{{label.get_mode_display}}</td>
      <td>{{label.weight}}</td>
    </tr>
</table>
<p><a href="{% url 'gcse_label_list' %}">Browse all Labels</a>.</p>

<h2>Annotations</h2>
<p>There are {{total_count}} Annotations currently in the {% site 'name' %} database with this Label. </p>

{% block alpha-nav %}
{% include "gcse/alpha-nav.html" %}
{% endblock alpha-nav %}

<table class="table table-striped search-results">
  <tbody>
    <tr><th>Name</th><th>Background Labels</th><th>Facet Labels</th></tr>
    {% for annotation in annotation_list %}
    {% with annotation.labels.all as labels %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="{{annotation.get_absolute_url}}">{{ annotation.comment|escape }}</a></td>
      <td>
        {% for label in labels %}
        {% if label.background %}
        <a href="{% url 'gcse_label_detail' label.id %}">{{ label.name }}</a>
        {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for label in labels %}
        {% if not label.background %}
        <a href="{% url 'gcse_label_detail' label.id %}">{{ label.name }}</a>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% block pagination %}
{% include "gcse/pagination.html" %}
{% endblock pagination %}

{% endblock %}
