{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - All Labels{% endblock %}


{% block content %}
<h1>All Labels</h1>
<p>There are {{ object_list|length }} Labels currently in the {% site "name" %} database.</p>
<table class="table table-striped search-results">
  <tr><th>Name</th><th>Search Engines</th></tr>
  {% for label in object_list %}
  <tr>
    <td><a href="{{ label.get_absolute_url }}">{{ label.name }}</a></td>
    <td>
      {% for cse in label.cses %}
      <a href="{{ cse.get_absolute_url }}">{{ cse.title }}</a>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{% block pagination %}
{% include "gcse/pagination.html" %}
{% endblock pagination %}

{% endblock %}
