{% extends "gcse/base.html" %}
{% load setting %}
{% block title %}{% site "name" %} - Search for Annoation{% endblock %}

{% block content %}
  <h1>Search Annotation Names and URLs</h1>
  <p>See if we have your favorite place in our database.</p>
  {% include "gcse/annotation_search.html" %}

  {% if query %}
  {% if object_list %}
  <h2>Annotations Containing "{{ query|escape }}":</h2>
  <table class="table table-striped searchResults">
    <tbody>
      <tr><th>Name</th><th>Web Site</th></tr>
      {% for site in object_list %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url 'gcse_annotation_detail' site.id %}">{{ site.comment|escape }}</td>
        <td>{{ site.original_url }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% block pagination %}
  {% include "gcse/pagination.html" %}
  {% endblock pagination %}
  {% else %}
<p class="bg-warning">No Annotations found.</p>
{% endif %}
{% endif %}
{% endblock %}
